
/*falta cambiar el color del texto de las preguntas de la seccion dos*/
/*Quitar esa linea horrososa de los enlaces*/
/*¿cambiar de imagenes?*/
/*poner color segun el reino a las letras de las listas*/
/*averiguar y ver como embellecer el título*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #061038;
    color: white;
}

.titulo {
    text-align: center;
    margin-top: 30px;
    font-family: 'Happy Monkey', cursive;
    font-size: 50px;
}

.reinos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 60px;
}

.reino {
  text-align: center;
}

.reino img {
  width: 500px;
  height: auto;
}

.reino h2 {
  margin-top: 10px;
}

.reino-tecnologico{
    color: #fafbfe;
    font-size: 27px;
    font-family: "Happy Monkey";
    

}

.reino-natural{
    color: #f9fbf9;
    font-size: 27px;
    font-family: "Happy Monkey";
    text-decoration: none;
    
    
}

.reino-quimico{
    color: #fffdff;
    font-size: 27px;
    font-family: "Happy Monkey";
    
}

.reino a {
    text-decoration: none;
}

.preguntas {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.pregunta-card {
    background-color: #34495e;
    border-radius: 12px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pregunta-card img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.opciones {
    list-style: none;
    padding-left: 0;
}

.opciones li {
    padding: 8px;
    border: 1px solid #777;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #3c5a78;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opciones li:hover {
    background-color: #587a9e;
}